
.heading_font {
    font-family: 'Bebas Neue', cursive;
	color: rgb(15 23 42);
    line-height: 1.3;
    font-size: 3rem;
}

.pagination_font_arrows{
    font-family: 'Bebas Neue', cursive;
	color: rgb(15 23 42);
    font-size: 1.5rem;
    vertical-align: middle;
    text-align: center;
}

.pagination_font{
    font-family: 'Bebas Neue', cursive;
	color: rgb(15 23 42);
    vertical-align: middle;
    text-align: center;
}

#home_container{
    display: table;
    width: 100%;
}

.home_section{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 25rem;
    text-align: left;
}

#home_heading{
  font-family: 'Kaushan Script', cursive;  
  color:rgb(71 140 225);
}
  
.body_font {
    font-family: 'Open Sans', sans-serif;
	color: rgb(15 23 42);
}
  
:root {
    --gradient: rgb(96 165 250);
    --main: white;
    --antimain: black;
}
  
span{
    color: var(--gradient);
}
  
body{
    background-color: var(--main);
    color: var(--antimain);
}
  
.message-box {
	bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: fixed;
	width: 90%;
    height:10%;
    text-align: center;
	--tw-bg-opacity: 1;
	background-color: rgb(29 78 216);
	color:white;
    font-size: 1rem;
  }

@media (min-width: 925px) {
  	.message-box{
		margin-left: 1.25rem;
    	width: 25%;
		border-radius: 0.5rem;
        left: 0px;
    }
}

/* this btn will be reused in the website multiple times */
.primary-btn {
    color: white;
    margin-top: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}
 
.underline-btn:hover {
    color: var(--gradient);
}
  
.underline-btn {
    background-color: var(--main);
    color: var(--antimain);
    margin-top: 0.7rem;
    margin-left: 3rem;
    transition: all ease-in-out 250ms;
    border-radius: 0.5rem;
}
  
.underline-btn:hover::after {
    width: 100%;
}
  
.underline-btn::after {
    margin-top: 0.45rem;
    content: "";
    display: flex;
    height: 0.3rem;
    background-color: var(--gradient);
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
.post{
    background-image: url('../assets/post_background.jpg');
    height:fit-content;
}

.post_font{
    font-family: 'Caveat', cursive;
}

.small_post_view{
    display: table;
}

.border
{   
    border: 1.5px rgb(15 23 42) solid;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}