 
:root {
    --gradient:#003764;
    --main: white;
    --antimain: #1a1a1d;
}

.home_section{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 25rem;
    text-align: left;
}

.ZummeRough{
  font-family: 'zumme bold';
}
  
.body_font {
    font-family: 'Open Sans', sans-serif;
	color: gradient;
}
span{
    color: var(--gradient);
}
  
body{
    background-color: var(--main);
    color: var(--gradient);
}
  
.message-box {
	bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: fixed;
	width: 90%;
    height:10%;
    text-align: center;
	--tw-bg-opacity: 1;
	background-color: rgb(29 78 216);
	color:white;
    font-size: 1rem;
  }

@media (min-width: 925px) {
  	.message-box{
		margin-left: 1.25rem;
    	width: 25%;
		border-radius: 0.5rem;
        left: 0px;
    }
}

/* this btn will be reused in the website multiple times */
.primary-btn {
    color: white;
    margin-top: 1rem;
    --tw-bg-opacity: 1;
    background-color: gradient;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}
 
.underline-btn:hover {
    color: var(--gradient);
}
  
.underline-btn {
    background-color: var(--main);
    color: var(--gradient);
    margin-top: 0.75rem;
    margin-left: 3rem;
    transition: all ease-in-out 250ms;
    border-radius: 0.5rem;
}
  
.underline-btn:hover::after {
    width: 100%;
}
  
.underline-btn::after {
    margin-top: 0.625rem;
    content: "";
    display: flex;
    height: 0.25rem;
    background-color: var(--gradient);
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
.post{
    background-image: url('../assets/post_background.jpg');
    height:fit-content;
}

.post_font{
    font-family: 'Caveat', cursive;
}

.small_post_view{
    display: table;
}

.border
{   
    border: 1.5px gradient solid;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}

.link{
    color: gradient;
}

.form-control:focus
{ 
    box-shadow: none; 
}

/* custom slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  a:link { text-decoration: none !important; }
  a:visited { text-decoration: none !important; }
  a:hover { text-decoration: none !important; color:inherit }
  a:active { text-decoration: none !important; }

  .btn-primary{
    background-color: #007bff !important;
  }
  
  #phone_bottom_navbar{display: none;}

#notification_icon:hover + #notifications {
    display: block;
  }

.mobile-navbar-background{
    background-color: rgba(0, 0, 0, 0.2);
}


#draft_posts{display: none;}

@-moz-document url-prefix() {
    #website-logo {
        margin-top:-38px;
    }
    #navbar-hr {
        margin: -6px !important;
        margin-bottom: 0px !important;
    }
    #manage-posts-hr {
        margin: -6px !important
    }
}

.ui-autocomplete {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: default;
  list-style: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modebar{
  display: none !important;
}

#sort_div{display: none;}
#apply{display: none;}