{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped" id="table">
        <thead>
          <tr>
            <td class="fw-bold" scope="col"></td>
            <td class="fw-bold" scope="col">First</td>
            <td class="fw-bold" scope="col">Last</td>
            <td class="fw-bold" scope="col">Handle</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fw-bold">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td class="fw-bold">2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td class="fw-bold">3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
{% endblock main %}
