{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />  
    <!-- script for likes -->
    <script type=text/javascript>
        $(function() {
            {% for post in posts.items %}
                $('#{{ post.id }}button').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("register_like", post_id=post.id) }}',function(data) {});
                    var like_num = parseInt($('#{{ post.id }}display').html())
                    if (  $("#{{ post.id }}image").attr('src') == '../static/assets/like_button.svg' ) 
                    {
                        $("#{{ post.id }}image").attr('src','../static/assets/like_button_clicked.svg');
                        $('#{{ post.id }}display').text(like_num + 1);
                    }
                    else
                    {
                        $("#{{ post.id }}image").attr('src','../static/assets/like_button.svg');
                        $('#{{ post.id }}display').text(like_num - 1);
                    }

                    return false;
                });
            {% endfor %}
        });
        $(function() {
            var availableTags = [];
            {% for post in posts.items %}
                p = "{{ post.title | safe }}"
                availableTags.push(p);
            {% endfor %}
            $( "#search-navbar" ).autocomplete({
            source: availableTags
            });
        });
    </script>

    <div class="w-100% pt-2 mt-3.75rem">
        <center>
            <div>
                <div class="relative -mt-3.75rem w-100% 1180:w-80% z-20">
                    <h1 class="inline-block px-2 pt-2 border-8 border-gradient bg-white text-3xl xsm:text-4xl sm:text-5xl 725:text-6xl 880:text-7xl 1180:text-8xl ZummeRough">THE BLAND MIRROR</h1>
                    <a href="https://www.instagram.com/the_bland_mirror/" class="absolute top-0 w-4 880:w-6 right-0 mt-0.7rem 880:mt-3 "><img src='../static/assets/insta_icon.svg'/></a>
                    <a href="mailto:pritanshsahsani@gmail.com" class="absolute top-0 w-6 880:w-9 right-6 880:right-8 mt-2 880:mt-0.65rem "><img src='../static/assets/email-icon.svg '/></a>
                </div>
                <img class="relative -mt-1.87rem xsm:-mt-8 sm:-mt-2.25rem 725:-mt-2.6rem 880:-mt-12 1180:-mt-3.75rem w-100% 1180:w-80% z-10" src='../static/assets/banner.png'/>
                <div class="relative w-80% xsm:w-56 sm:w-72 725:w-22rem 880:w-26rem 1180:w-34rem -mt-1.09rem border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
                    <form method="GET" action="search">
                    <input type="text" name="keyword" id="search-navbar" class="form-control border-0 inline-block w-80% text-sm" placeholder="Search...">
                    <button type="submit" class="float-right">
                        <svg class="inline-block w-100% h-4 mt-1 pr-3 text-gray-500 dark:text-gray-40" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                    </form>
                </div>
            </div>
        </center>
        <hr class="w-100% mt-6 mb-7 p-0 border-gradient"/>
        <p class="  text-center md:text-lg">With the aim of dusting up the issues buried within our minds and societies, my opinions in the form of this blog aims to force open the eyes of the world to the ugly truth. Shape your understanding of the world around you and improve our lives through it, with a variety of topics, spanning from emotions to politics to morals to education.</p>
    </div>
    
    <div class="w-95% mx-auto">
        {% for post in posts.items %}
            <div class="hidden md:table border-solid rounded-lg border-0.5 border-gradient my-6 w-100%">
                <a href="{{ url_for('post', post_url=post.url_title) }}"><img class="home_section float-left border-solid border-r-0.5 border-gradient object-cover rounded-lg" src= "/static/post_img/{{ post.cover_img }}"></a>
                
                <div class="home_section float-right">
                    <a href="{{ url_for('post', post_url=post.url_title) }}">
                        <div class="mt-5% ml-5% h-80% w-90%">
                            <p class="inline-block whitespace-pre-line w-47.5% text-3xl">{{ post.title }}</p>
                            <p class="inline-block whitespace-pre-line w-47.5% text-right mt-2 text-sm float-right">{{ post.created_at.strftime("%d %B %Y") }}</p>
                            <p class="pt-1.5 text-lg">{{ post.summary }}</p>
                        </div>
                    </a>

                    <div class="ml-5% h-10% w-90%">
                        <hr class="mb-2 border-gradient"/>
                        {% if post.views == 1 %}
                            <p class="ml-0.5 inline-block text-sm">{{ post.views }} view</p>
                        {% else %}
                            <p class="ml-0.5 inline-block text-sm">{{ post.views }} views</p>
                        {% endif %}
                        {% if post.comments == 1 %}
                            <p class="ml-5 inline-block text-sm">{{ post.comments }} comment</p>
                        {% else %}
                            <p class="ml-5 inline-block text-sm">{{ post.comments }} comments</p>
                        {% endif %} 
                        <button class='float-right mr-0.5 mt-0.5' id='{{ post.id }}button'>
                            {% if liked[post.id] %}
                                <img id='{{ post.id }}image' src="../static/assets/like_button_clicked.svg" />
                            {% else %}
                                <img id='{{ post.id }}image' src="../static/assets/like_button.svg" />
                            {% endif %}
                        </button>
                        <p id="{{ post.id }}display" class="inline-block float-right mr-0.5 text-sm">{{ post.likes }}</p>
                    </div>

                </div>
			</div>

            <div class="block md:hidden">
                <a href="{{ url_for('post', post_url=post.url_title) }}">
                    <div class="relative mx-auto sm:w-80% border-solid border-0.5 border-gradient rounded-lg my-4">
                        <img class="object-cover rounded-lg" src= "/static/post_img/{{ post.cover_img }}">
                        <div class="w-100% absolute bottom-0 pb-2 bg-white rounded-lg">
                            <p class="ml-2 mt-2 text-left text-2xl xsm:text-3xl">{{ post.title }}</p>
                            <p class="hidden xsm:block mr-2 text-right w-47.5% float-right">{{ post.created_at.strftime("%d %b %Y") }}<p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div>
            {% if no_of_pages > 7 %}
                <ul class="pagination justify-content-center">
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
                        {% if page_num %}

                            {% if page_num == no_of_pages-1 and posts.page != no_of_pages-1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=posts.page+1) }}">&rarr;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% else %}

                                {% if posts.page == page_num %}
                                <li class="page-item active" aria-current="page">
                                    <button class="page-link">{{ page_num }}</button>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                                </li>
                                {% endif %}

                            {% endif %}

                            {% if page_num == 1 and posts.page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=posts.page-1) }}">&larr;</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="pagination justify-content-center">
                    {% for page_num in posts.iter_pages(left_current=7, right_current=8) %}
                        {% if posts.page == page_num %}
                            <li class="page-item active" aria-current="page">
                                <button class="page-link">{{ page_num }}</button>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="{{ url_for('index', page=page_num) }}"><button class="page-link">{{ page_num }}</button></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div>
        <hr class="mt-10 w-90% mx-auto border-black"/>
        <p class="my-3 md:my-5 text-2xl md:text-4xl text-center md:mx-5"><a class="" href="/subscribe">Click here to subscribe and receive updates on the latest posts!</a></p>
    </div>
{% endblock main %}
