{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />  
    <!-- script for likes -->
    <script type=text/javascript>
        $(function() {
            {% for post in posts.items %}
                $('#{{ post.id }}button').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("register_like", post_id=post.id) }}',function(data) {});
                    var like_num = parseInt($('#{{ post.id }}display').html())
                    if (  $("#{{ post.id }}image").attr('src') == '../static/assets/like_button.svg' ) 
                    {
                        $("#{{ post.id }}image").attr('src','../static/assets/like_button_clicked.svg');
                        $('#{{ post.id }}display').text(like_num + 1);
                    }
                    else
                    {
                        $("#{{ post.id }}image").attr('src','../static/assets/like_button.svg');
                        $('#{{ post.id }}display').text(like_num - 1);
                    }

                    return false;
                });
            {% endfor %}
        });
        $(function() {
            var availableTags = [];
            {% for post in posts.items %}
                p = "{{ post.title | safe }}"
                availableTags.push(p);
            {% endfor %}
            $( "#search-navbar" ).autocomplete({
            source: availableTags
            });
        });
    </script>

<center>
    <div class="block border-0.5 rounded-lg text-left z-10">
        <form method="GET" action="search">
          <input type="text" name="keyword" id="search-navbar" class="form-control border-0 inline-block w-80% md:w-95% text-sm" placeholder="Search...">
          <button type="submit" class="float-right">
              <svg class="inline-block w-100% h-4 mt-1 pr-3 text-gray-500 dark:text-gray-40" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </button>
        </form>
      </div>
    <div class="w-100% mt-5">
        <h1 id="home_heading" class="pb-5 text-4xl md:text-8xl">THE BLAND MIRROR</h1>
        <p class="body_font pb-10 md:text-lg">With the aim of dusting up the issues buried within our minds and societies, my opinions in the form of this blog aims to force open the eyes of the world to the ugly truth. Shape your understanding of the world around you and improve our lives through it, with a variety of topics, spanning from emotions to politics to morals to education.</p>
        <hr class="w-100% m-0 p-0 border-slate-900"/>
    </div>
    
    <div class="w-95% hidden md:block">
        {% for post in posts.items %}
            <div id="home_container" class="border-solid border-0.5 border-slate-900 my-6">
                <a href="{{ url_for('post', post_url=post.url_title) }}"><img class="home_section float-left border-r-0.5 border-slate-900 object-cover" src= "/static/post_img/{{ post.cover_img }}"></a>
                
                <div class="home_section float-right">
                    <a href="{{ url_for('post', post_url=post.url_title) }}">
                        <div class="mt-5% ml-5% h-80% w-90%">
                            <p class="text-sm">{{ post.created_at.strftime("%d %B %Y") }}</p>
                            <p class="pt-1 text-3xl">{{ post.title }}</p>
                            <p class="pt-1.5 text-lg">{{ post.summary }}</p>
                        </div>
                    </a>

                    <div class="ml-5% h-10% w-90%">
                        <hr class="mb-2 border-slate-400"/>
                        {% if post.views == 1 %}
                            <p class="ml-0.5 inline-block text-sm">{{ post.views }} view</p>
                        {% else %}
                            <p class="ml-0.5 inline-block text-sm">{{ post.views }} views</p>
                        {% endif %}
                        {% if post.comments == 1 %}
                            <p class="ml-5 inline-block text-sm">{{ post.comments }} comment</p>
                        {% else %}
                            <p class="ml-5 inline-block text-sm">{{ post.comments }} comments</p>
                        {% endif %} 
                        <button class='float-right mr-0.5 mt-0.5' id='{{ post.id }}button'>
                            {% if liked[post.id] %}
                                <img id='{{ post.id }}image' src="../static/assets/like_button_clicked.svg" />
                            {% else %}
                                <img id='{{ post.id }}image' src="../static/assets/like_button.svg" />
                            {% endif %}
                        </button>
                        <p id="{{ post.id }}display" class="inline-block float-right mr-0.5 text-sm">{{ post.likes }}</p>
                    </div>

                </div>
			</div>
        {% endfor %}
        <div>
            {% if no_of_pages > 7 %}
                <ul class="pagination justify-content-center">
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
                        {% if page_num %}

                            {% if page_num == no_of_pages-1 and posts.page != no_of_pages-1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=posts.page+1) }}">&rarr;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% else %}

                                {% if posts.page == page_num %}
                                <li class="page-item active" aria-current="page">
                                    <button class="page-link">{{ page_num }}</button>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                                </li>
                                {% endif %}

                            {% endif %}

                            {% if page_num == 1 and posts.page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index', page=posts.page-1) }}">&larr;</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="pagination justify-content-center">
                    {% for page_num in posts.iter_pages(left_current=7, right_current=8) %}
                        {% if posts.page == page_num %}
                            <li class="page-item active" aria-current="page">
                                <button class="page-link">{{ page_num }}</button>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="{{ url_for('index', page=page_num) }}"><button class="page-link">{{ page_num }}</button></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        
		<div>
			<hr class="mt-10 w-90% mx-auto border-black"/>
            <p class="my-5 text-4xl text-center mx-5"><a class="" href="/subscribe">Click here to subscribe and receive updates on the latest posts!</a></p>
		</div>
    </div>
</center>
{% endblock main %}
