<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

		<!-- css -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/src.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

		 <!-- Bootstrap CSS -->
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<!-- tinymce js -->
		<script src="{{url_for('static',filename='tinymce/js/tinymce/tinymce.min.js')}}"></script>

        <title>TBM: {% block title %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="../static/assets/logo.png">
    </head>

    <body class="w-100%">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- script for likes -->
		<script type=text/javascript>
			$(function() {
				$('#phone_navbar_button').on('click', function(e) {
					
					if ($("#phone_navbar").is(":visible")) 
					{
						$("#phone_navbar").show();
					}
					else
					{	
						$("#phone_navbar").hide();
					}
					
				});
			});
		</script>


		<div>
			<nav class="flex justify-between items-center relative">
				<div class="flex items-center">
					<a href="/" class="ml-2">
						<img src="../static/assets/logo.png" class="ml-4 w-12 mr-0" alt="" />
					</a>
					{% if current_user.is_authenticated %}
						<div class="pr-8 md:block hidden mx-5">
							<a class="navbar-link" href="/authors_home">
								<button class="underline-btn">Author's Home</button>
							</a>
							<a class="navbar-link" href="/create_post">
								<button class="underline-btn">Create post</button>
							</a>
							<a class="navbar-link" href="/messages">
								<button class="underline-btn">Messages</button>
							</a>
							<a class="navbar-link" href="/notifications">
								<button class="underline-btn">Notifications</button>
							</a>
							<a class="navbar-link" href="/admin">
								<button class="underline-btn">Admin</button>
							</a>
						</div>
					{% else %}
						<div class="pr-8 md:block hidden mx-5">
							<a class="navbar-link" href="/">
								<button class="underline-btn">Home</button>
							</a>
							<a class="navbar-link" href="/contact">
								<button class="underline-btn">Contact</button>
							</a>
							<a class="navbar-link" href="/subscribe">
								<button class="underline-btn">Subscribe</button>
							</a>
						</div>
					{% endif %}
				</div>

				<div class="block md:float md:items-right md:mr-8">
					<p class="text-lg">By Pritansh Sahsani</p>
				</div>

				<div class="mr-8 cursor-pointer block md:hidden">
					<svg
						id="phone_navbar_button"
						class="w-6 h-6"
						fill="black"
						stroke=black
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							strokeLinecap="round"
							strokeLinejoin="round"
							strokeWidth="2"
							d="M4 6h16M4 12h16M4 18h16"
						></path>
					</svg>
				</div>
				
			</nav>
			<hr class="w-100% m-0 p-0 border-slate-900" />
			<div id="phone_navbar" class="hidden">
				<p>navbar</p>
			</div>
		</div>
	
	  	{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
		  		{% for category, message in messages %}
					<div class="fixed w-12% bottom-3 left-1% bg-blue-600 rounded-lg">
						<p class="text-sm text-white text-center w-90% ml-5% mt-3% mb-5%">{{ message }}</p>
					</div>
		  		{% endfor %}
			{% endif %}
	  	{% endwith %} 
	  
	  	<main class="ml-5% py-5 w-90%">
			{% block main %}{% endblock main %}
		</main>


    </body>
    <script type="text/javascript" src="/static/script.js"></script>
	<!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>

