{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class = "w-50 mx-auto">
            <div class="form-group my-2">
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control", placeholder="Email") }}
                {% endif %}
            </div>
            <div class="form-group my-2">
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control", placeholder="Password") }}
                {% endif %}
            </div>
            <div class="form-check my-2">
                {{ form.remember(class="form-check-input d-flex justify-content-left") }}
                {{ form.remember.label(class="form-check-label d-flex justify-content-left") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-dark") }}
        </div>
        </fieldset>
    </form>
{% endblock %}