{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        {% if form.email.errors %} 
            {% for error in form.email.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.password.errors %} 
            {% for error in form.password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
    }
    setInterval('raise_error()', 1);
</script>

    <!-- contact form -->
    <div class="border-solid border-black rounded-md my-5% items-center border-0.5">
        <p class="text-center text-lg xsm:text-4xl w-80% mt-5% mx-auto">Login</p>
        <hr class="border-black w-80% mx-auto my-3% sm:my-2%" />
        <form action='' method="POST" class="w-80% mx-auto">
            <div class="w-100% items-center">
            {{ form.hidden_tag() }}
                {{ form.email(class="text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg sm:w-47.5% sm:inline") }}
                {{ form.password(class="text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mt-3% sm:mt-0 sm:w-47.5% sm:inline sm:float-right") }}
                
                <div class="w-100% md:w-30% sm:inline-block relative bottom-0 mt-2% md:mt-0">
                    <!-- <div class="mx-auto"> -->
                        <label class="switch m-0">
                            {{ form.remember(class="form-check-input", type="checkbox") }}
                            <span class="slider round"></span>
                        </label>
                        <p class="inline-block relative bottom-1.5 960:bottom-1 text-lg 960:text-2xl">Remember Me</p>
                    <!-- </div> -->
                </div>
                {{ form.submit(class="inline-block btn btn-primary mt-2% md:ml-5% w-100% md:w-30% mb-5% text-base xsm:text-xl sm:text-2xl") }}
            </div>
        </form>
    </div>
            
{% endblock main %}