{% extends "layout.html" %}

{% block title %}
    Manage Posts
{% endblock %}

{% block main %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- script for likes -->
    <script type=text/javascript>
    
        var p_posts_len = {{ p_posts_len }}
        var d_posts_len = {{ d_posts_len }}
        var published_shown = true
        {% for post in draft_posts %}
            $(function() {
                $('#delete_post{{ post.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_post", post_id=post.id) }}',function(data) {});
                    $("#post{{ post.id }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    d_posts_len = d_posts_len-1;
                    if(d_posts_len==0)
                    {
                        $('#no_draft_posts').text("No Draft Posts");
                        $('#no_draft_posts').toggle();
                    }
                });
            });
        {% endfor %}
        {% for post in published_posts %}
            $(function() {
                $('#delete_post{{ post.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_post", post_id=post.id) }}',function(data) {});
                    $("#post{{ post.id }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    p_posts_len = p_posts_len-1;
                    console.log(p_posts_len)
                    if(p_posts_len==0)
                    {
                        $('#no_published_posts').text("No Published Posts");
                        $('#no_published_posts').toggle();
                    }
                });
            });
        {% endfor %}

			$(function() {
				$('#show_published').on('click', function(e) {
                    if(!published_shown)
                    {		
                        $("#published_posts").toggle();		
                        $("#draft_posts").toggle();
                        published_shown = true;
                    }
				});
				$('#show_drafts').on('click', function(e) {
                    if(published_shown)
                    {		
                        $("#published_posts").toggle();		
                        $("#draft_posts").toggle();
                        published_shown = false;
                    }
				});
			});
    </script>


    <div class="my-5">
        <button class="underline-btn text-2xl ml-0" id="show_published">Published</button>
        <button class="underline-btn text-2xl ml-8 960:ml-14" id="show_drafts">Drafts</button>
        <hr class="mx-auto border-black mb-3">
        <div class="w-100% items-right">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="sort_by">Sort By</label>
                </div>
                <select class="custom-select" id="sort_by">
                    <option selected value="latest">Latest</option>
                    <option value="views">Views</option>
                    <option value="likes">Likes</option> 
                    <option value="comments">Comments</option>  
                </select>
                <select class="custom-select" id="sort_by_direction">
                    <option selected value="ascending">Ascending</option>
                    <option value="decending">Decending</option>
                </select>
            </div>
        </div>
    </div>

    <div id="published_posts">
        <h3 id="no_published_posts" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if p_posts_len != 0 %}
                {% for post in published_posts %}
                    <div class="w-100% md:w-47.5% mt-2 border-0.5 border-black rounded-md mx-auto" id="post{{ post.id }}">
                        <div class="m-2"><a href="{{ url_for('post', post_url=post.url_title) }}">
                            <p class="float-right">{{ post.created_at.strftime("%d %B %Y") }}</p>
                            <p class="">{{ post.title }}</p>
                            <p class="my-2 py-2 pl-2 text-left border-0.5 border-black rounded-md">{{ post.summary }}</p></a>
                            <div class="w-100% flex mb-2">
                                {% if post.views == 1 %}
                                    <p class="m-0 w-1/3">{{ post.views }} view</p>
                                {% else %}
                                    <p class="m-0 w-1/3">{{ post.views }} views</p>
                                {% endif %}
                                    {% if post.comments == 1 %}
                                        <p class="m-0 w-1/3 text-center">{{ post.comments }} comment</p>
                                    {% else %}
                                        <p class="m-0 w-1/3 text-center">{{ post.comments }} comments</p>
                                    {% endif %} 
                                {% if post.likes == 1 %}
                                    <p class="m-0 w-1/3 text-right">{{ post.likes }} like</p>
                                {% else %}
                                    <p class="m-0 w-1/3 text-right">{{ post.likes }} likes</p>
                                {% endif %}
                            </div>

                            <div class="w-100% text-center">
                                <button  class="btn btn-danger w-100% xsm:w-fit my-1 xsm:my-0" id="delete_post{{ post.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                                <a href="{{ url_for('edit_post', post_id=post.id) }}"><button class="btn btn-dark w-100% xsm:w-fit my-1 xsm:my-0"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <h3 id="no_published_posts" class="w-100% text-center text-4xl">No Published Posts</h3>
        {% endif %}
    </div>
        
    <div id="draft_posts">
        <h3 class="hidden w-100% text-center text-4xl" id="no_draft_posts"></h3>
        {% if d_posts_len != 0 %}
            {% for post in draft_posts %}
                <div class="w-100% md:w-47.5% mt-2 border-0.5 border-black rounded-md mx-auto" id="post{{ post.id }}">
                    <div class="m-2"><a href="{{ url_for('post', post_url=post.url_title) }}">
                        <p class="float-right">{{ post.created_at.strftime("%d %B %Y") }}</p>
                        <p class="">{{ post.title }}</p>
                        <p class="my-2 py-2 pl-2 text-left border-0.5 border-black rounded-md">{{ post.summary }}</p></a>
                        <div class="w-100% flex mb-2">
                            {% if post.views == 1 %}
                                <p class="m-0 w-1/3">{{ post.views }} view</p>
                            {% else %}
                                <p class="m-0 w-1/3">{{ post.views }} views</p>
                            {% endif %}
                                {% if post.comments == 1 %}
                                    <p class="m-0 w-1/3 text-center">{{ post.comments }} comment</p>
                                {% else %}
                                    <p class="m-0 w-1/3 text-center">{{ post.comments }} comments</p>
                                {% endif %} 
                            {% if post.likes == 1 %}
                                <p class="m-0 w-1/3 text-right">{{ post.likes }} like</p>
                            {% else %}
                                <p class="m-0 w-1/3 text-right">{{ post.likes }} likes</p>
                            {% endif %}
                        </div>

                        <div class="w-100% text-center">
                            <button  class="btn btn-danger w-100% xsm:w-fit my-1 xsm:my-0" id="delete_post{{ post.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            <a href="{{ url_for('edit_post', post_id=post.id) }}"><button class="btn btn-dark w-100% xsm:w-fit my-1 xsm:my-0"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="w-100% text-center text-4xl">No Draft Posts</h3>
        {% endif %}
    </div>

    <!-- create new post button -->
    <div class="z-30 fixed bottom-5 right-5% bg-blue-600 w-15 h-15 rounded-2xl">
        <a href="/create_post">
            <img src="../static/assets/new_post_button.svg">
		</a>
    </div>
{% endblock main %}