{% extends "layout.html" %}

{% block title %}
    Notifications
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    var notif_len = {{ notif_len }};
    {% for notification in notifications %}
        $(function() {
            $('#read_notification{{ notification.id }}').on('click', function(e) {
                e.preventDefault()
                $.getJSON('{{ url_for("read_notification", notification_id = notification.id) }}',function(data) {});
                var ImageSrc = $('#read_notification_img{{ notification.id }}').attr('src');
                if ( ImageSrc == '../static/assets/mark_as_read_white.svg')
                {
                    $('#read_notification_img{{ notification.id }}').attr('src', '../static/assets/mark_as_unread_white.svg');
                    $("#flash_text").text("{{ unread_flash }}");
                }
                else
                {
                    $('#read_notification_img{{ notification.id }}').attr('src', '../static/assets/mark_as_read_white.svg');
                    $("#flash_text").text("{{ read_flash }}");
                }
                $("#flash_text_div").show();
            });
        });
        $(function() {
                $('#delete_notification{{ notification.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_notification", notification_id = notification.id) }}',function(data) {});
                    $("#notification{{ notification.id }}").hide();
                    
                    $("#flash_text").text("{{ del_flash }}");
                    $("#flash_text_div").show();
                    
                    notif_len = notif_len-1;
                    if(notif_len==0)
                    {
                        $('#no_notif').text("No notifications");
					    $("#no_notif").toggle();
                    }
                });
            });
    {% endfor %}
    
    function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(function() {
            $('#apply').on('click', function(e) {
                var sort = $("#sort").val();
                var sort_direction = $("#sort_direction").val();
                var filter = $("#filter").val();
                window.location = "/notifications?sort="+sort+"&sort_direction="+sort_direction+"&filter="+filter;
            });
        });
        $(document).ready(function(){
            vars= getUrlVars();
            $("#sort").val(vars['sort']).change();
            $("#filter").val(vars['filter']).change();
            $("#sort_direction").val(vars['sort_direction']).change();
        });
        $(function() {
            $('#show_sort_div').on('click', function(e) {
                if ($("#sort_div").css("display") == "none")
                {
                    $("#sort_div").css("display", "flex");
                    $("#apply").css("display", "inline-block");
                    $("#show_sort_div").addClass("xsm:float-right");
                    $("#show_sort_div").addClass("xsm:w-47.5%");
                    $("#show_sort_div").text("Hide Sort and Filter");
                }
                else{
                    $("#sort_div").css("display", "none");
                    $("#apply").css("display", "none");
                    $("#show_sort_div").removeClass("xsm:float-right");
                    $("#show_sort_div").removeClass("xsm:w-47.5%");
                    $("#show_sort_div").text("Show Sort and Filter");
                }
            });
        });
</script>

<div class="w-100% md:w-80% 880:w-47.5% md:mx-auto">
    <div class="input-group mb-2" id="sort_div">
        <div class="input-group-prepend">
            <label class="input-group-text" for="sort">Sort By</label>
        </div>
        <select class="custom-select" id="sort">
            <option value="date">Latest</option>
            <option value="is_read">Read</option>
        </select>
        <select class="custom-select" id="sort_direction">
            <option value="false">Ascending</option>
            <option value="true">Decending</option>
        </select>
    </div>
    <button class="inline-block btn btn-primary w-100% xsm:w-47.5% mb-2" id="apply">Apply Sort and Filter</button>

    <button class="inline-block btn btn-primary w-100% mb-2" id="show_sort_div">Show Sort and Filter</button>
</div>

<center>
    <div class="w-95%">
        <h3 id="no_notif" class="hidden my-3 text-4xl"></h3>
        {% if no_notifications == False %}
            {% for notification in notifications %}
                <div class="block align-top w-100% md:w-50% mt-2 border-0.5 border-black rounded-md" id="notification{{ notification.id }}">
                    <div class="m-2">
                        <a href="{{ notification.url }}">
                            <p class="float-right">{{ notification.date.strftime("%d %B %Y") }}</p></br>

                            <p class="my-2 py-2 px-2 text-left border-0.5 border-black rounded-md">{{ notification.message }}</p>
                        </a>
                        {% if notification.is_read == True %}
                            <button class="btn btn-dark w-100% xsm:w-fit my-1 xsm:my-0" id="read_notification{{ notification.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/mark_as_read_white.svg" id="read_notification_img{{ notification.id }}"></button>
                        {% else %}
                            <button class="btn btn-dark w-100% xsm:w-fit my-1 xsm:my-0" id="read_notification{{ notification.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/mark_as_unread_white.svg" id="read_notification_img{{ notification.id }}"></button>
                        {% endif %}
                        <button class="btn btn-danger w-100% xsm:w-fit my-1 xsm:my-0" id="delete_notification{{ notification.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="my-3 text-4xl">No Notifications</h3>
        {% endif %}
    </div>
</center>
{% endblock main %}
