{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- script for likes and copy link -->
    <script type=text/javascript>
        function raise_error() {
            {% if comment_form.name.errors %} 
                {% for error in comment_form.name.errors %}
                    $("#flash_text").text("{{error}}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if comment_form.text.errors %} 
                {% for error in comment_form.text.errors %}
                    $("#flash_text").text("{{error}}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
        }
        setInterval('raise_error()', 1);
        
        function copyLink() {
            var currentURL = window.location.href;
            var tempInput = document.createElement('input');
            tempInput.value = currentURL;
            document.body.appendChild(tempInput);

            tempInput.select();
            tempInput.setSelectionRange(0, 99999);

            document.execCommand('copy');
            document.body.removeChild(tempInput);
        }
        {% for comment in comments %}
            $(function() {
                $('#delete_comment{{ comment.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_comment", comment_id=comment.id, post_id=post.id) }}',function(data) {});
                    $("#{{ comment.id }}comment").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();
                });
            });
        {% endfor %}

        $(function() {
            $('#like_button').on('click', function(e) {
                e.preventDefault()
                $.getJSON('{{ url_for("register_like", post_id=post.id) }}',function(data) {});
                var like_num = parseInt($('#like_display').html())
                if (  $("#like_image").attr('src') == '../static/assets/like_button.svg' ) 
                {
                    $("#like_image").attr('src','../static/assets/like_button_clicked.svg');
                    $('#like_display').text(like_num + 1);
                }
                else
                {
                    $("#like_image").attr('src','../static/assets/like_button.svg');
                    $('#like_display').text(like_num - 1);
                }

                return false;
            });
        });

            {% for relatedPost in related_posts %}
                $(function() {
                    // $('#related_img{{relatedPost.title}}').css({"background-image": "url(/static/post_img/{{ relatedPost.cover_img }})"});
                    // console.log('/static/post_img/{{ relatedPost.cover_img }}');
                    $('#like_button_{{ relatedPost.id }}').on('click', function(e) {
                        e.preventDefault();
                        $.getJSON('{{ url_for("register_like", post_id=relatedPost.id) }}', function(data) {});

                        var likeNum = parseInt($('#like_display_{{ relatedPost.id }}').html());
                        var likeImageSrc = $('#like_image_{{ relatedPost.id }}').attr('src');

                        if (likeImageSrc === '../static/assets/like_button.svg') {
                            $('#like_image_{{ relatedPost.id }}').attr('src', '../static/assets/like_button_clicked.svg');
                            $('#like_display_{{ relatedPost.id }}').text(likeNum + 1);
                        } else {
                            $('#like_image_{{ relatedPost.id }}').attr('src', '../static/assets/like_button.svg');
                            $('#like_display_{{ relatedPost.id }}').text(likeNum - 1);
                        }

                        return false;
                    });
                });
            {% endfor %}
    </script>

    <!-- post -->
    <div class="mx-auto w-95% 880:w-90% 1180:w-80% mt-5% border-solid border-0.5 border-black rounded-md">
        <div class="w-90% mx-auto mt-5% mb-5%">
            <p class="text-base mb-2 ">{{ post.created_at.strftime("%d %B %Y") }}</p>
            <p class="text-2xl xsm:text-4xl md:text-6xl">{{ post.title }}</p>
            <div class="mt-4 mb-4">{{ post.content | safe }}</div>
            <div class="h-10%">
                <hr class="mb-2 border-slate-400"/>
                {% if post.views == 1 %}
                    <p class="ml-0.5 inline-block mt-0.5 text-base">{{ post.views }} view</p>
                {% else %}
                    <p class="ml-0.5 inline-block mt-0.5 text-base">{{ post.views }} views</p>
                {% endif %}
                {% if post.comments == 1 %}
                    <p class="hidden xsm:inline-block ml-3 md:ml-5 mt-0.5 text-base">{{ post.comments }} comment</p>
                {% else %}
                    <p class="hidden xsm:inline-block ml-3 md:ml-5 mt-0.5 text-base">{{ post.comments }} comments</p>
                {% endif %}

                {% if liked %}
                    <button id='like_button' class="float-right mr-0.5" style="margin-top: 6px;"><img id="like_image" src="../static/assets/like_button_clicked.svg" /></button>
                {% else %}
                    <button id='like_button' class="float-right mr-0.5" style="margin-top: 6px;"><img id="like_image" src="../static/assets/like_button.svg" /></button>
                {% endif %}
                <p class="inline-block mt-0.5 float-right mr-1 text-base" id="like_display">{{ post.likes }}</p>

                <div class="hidden md:inline-block m-0 mr-2  float-right">
                    <button class="btn border-0.5 border-black"><img class='h-4' src='../static/assets/share-icon.svg'/></button>
                    <button class="btn border-0.5 border-black" >
                        <a href="https://www.instagram.com/the_bland_mirror/">
                            <img class='h-4' src='../static/assets/insta_icon.svg'/>
                        </a>
                    </button>
                </div>
                <div class="block md:hidden m-0 mt-2">
                    <button class="btn w-47.5% border-0.5 border-black"><img class='h-4 mx-auto' src='../static/assets/share-icon.svg'/></button>
                    <button class="btn w-47.5% border-0.5 border-black float-right" >
                        <a href="https://www.instagram.com/the_bland_mirror/">
                            <img class='h-4 mx-auto' src='../static/assets/insta_icon.svg'/>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- comments -->
    
    <div class="w-90% w-95% 880:w-90% 1180:w-80% mx-auto border-solid border-black rounded-md my-5 items-center border-0.5">
            {% if post.comments == 0 %}
                <p class="text-center text-base xsm:text-2xl w-80% mt-5% mx-auto"> No Comments Yet. Be The First One To!</p>
            {% else %}
                <p class="text-center text-base xsm:text-2xl w-80% mt-5% mx-auto">Comments</p>
                {% for comment in comments %}
                    <div class="mx-auto block align-top w-80% md:w-75% mb-4" id="{{comment.id}}comment">
                        <div class="my-2 mx-3 relative">
                            <p class="absolute right-0 w-40% break-words text-right">{{ comment.date.strftime("%d %b %Y") }}</p>
                            <p class="w-40% break-words">{{ comment.name }}</p>
                            
                            <div class="my-2 border-solid border-0.5 border-black rounded-md relative">
                                <p class="block inline-block align-top py-2 px-3 text-left w-90% break-words">{{ comment.comment }}</p>
                                
                                {% if by_user[comment.id] %}
                                    <button class="btn btn-danger absolute -top-px -right-px inline-block w-fit max-w-5% align-top mx-auto" id="delete_comment{{ comment.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png" /></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <hr class="border-black w-80% mx-auto my-3% sm:my-2%" />

            <form action='' method="POST" class="w-80% mx-auto">
                {{ comment_form.hidden_tag() }}
                    {{ comment_form.name(class="text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg sm:w-47.5% sm:inline", placeholder="Name") }} 
                    {{ comment_form.text(class="text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mt-3% sm:mt-0 sm:w-47.5% sm:inline sm:float-right", placeholder="Add a comment...") }} 
                    
                    {{ comment_form.submit(class="btn btn-primary mt-2% sm:ml-35% w-100% sm:w-30% mb-5% text-base xsm:text-xl sm:text-2xl") }}
              </form>
        </div>
    </div>


    <!-- other posts -->
    <div class="mx-auto w-90% w-95% 880:w-90% 1180:w-80% mt-10">
        <p class="text-2xl">Other Posts</p>
        <div class="block 960:flex justify-between">
            {% for post in related_posts %}
                <div class="hidden 960:table 960:w-30% border-0.5 border-black border-solid rounded-lg h-fit mt-5 inline">
                    <a href="{{ url_for('post', post_url=post.title) }}">
                        <img class="block object-cover h-40 h-10 rounded-t-lg w-100%" src="/static/post_img/{{ post.cover_img }}" />
                    </a>
                        <div class="h-40">
                            <a href="{{ url_for('post', post_url=post.title) }}">
                                <p class="pt-2 text-2xl mx-5% h-32">{{ post.title }}</p>
                            </a>

                            <hr class="w-90% mx-auto border-black" />
                            <img class="inline w-auto h-3 ml-5% object-cover mb-1" src="../static/assets/views_icon.png">
                            <p class="ml-1 inline">{{ post.views }}</p>
                            <img class="inline w-auto y h-4 ml-2 object-cover mb-1" src="../static/assets/comment_icon.png">
                            <p class="ml-1 inline">{{ post.comments }}</p>
                            
                            <button id='like_button_{{ post.id }}' class="inline w-auto mr-5% mt-1 float-right h-4 ml-1 object-cover mb-2">
                                {% if liked_related_posts[post.id] %}
                                        <img id="like_image_{{ post.id }}" src="../static/assets/like_button_clicked.svg" />
                                {% else %}
                                        <img id="like_image_{{ post.id }}" src="../static/assets/like_button.svg" />
                                {% endif %}
                            </button>

                            <p class="float-right inline" id="like_display_{{ post.id }}">{{ post.likes }}</p>
                        </div>
                </div>
                <div class="block 960:hidden">
                    <a href="{{ url_for('post', post_url=post.title) }}">
                        <div class="relative mx-auto border-solid border-0.5 border-gradient rounded-lg my-4">
                            <img class="rounded-lg h-40 xsm:h-80 w-100% object-cover" src= "/static/post_img/{{ post.cover_img }}">
                            <div class="w-100% absolute bottom-0 pb-2 bg-white rounded-b-lg  border-t-0.5 border-t-solid border-t-gradient">
                                <p class="ml-2 mt-2 text-left text-2xl xsm:text-3xl">{{ post.title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- subscribe link -->
	
    <div>
        <hr class="mt-10 w-90% mx-auto border-black"/>
        <p class="my-3 md:my-5 text-2xl md:text-4xl text-center md:mx-5"><a class="" href="/subscribe">Click here to subscribe and receive updates on the latest posts!</a></p>
    </div>
    
{% endblock %}