{% extends "layout.html" %}

{% block title %}
    Reply To {{ message.name }}'s Message
{% endblock %}

{% block main %}

<center>
    <div class="w-95% hidden md:block">
        <div id="message{{ message.id }}">
            <p>{{ message.name }}</p>
            <p>{{ message.date.strftime("%d %B %Y") }}</p>
            <p>{{ message.email }}</p>
            <p>{{ message.message }}</p>
            
            <hr>

            {% if message.replied == True %}
                <p>You have already replied to the message.</p>
                <p>reply: {{ reply.reply }}</p>
                <a href="{{ url_for('view_messages') }}"><button>Back To Messages</button></a><br>
            {% else %}
                <form action='', method="POST" class="w-80% mx-auto mt-6">
                    {{ reply_form.hidden_tag() }}
                    {% if reply_form.reply.errors %} 
                        {% for error in reply_form.reply.errors %}
                            {{ flash(error) }} 
                        {% endfor %}
                    {% endif %}
                        
                    {{ reply_form.reply(class="w-100% h-10 pl-1% text-center text-xl", placeholder="Reply") }} 
                    
                    {{ reply_form.submit(class="my-5 w-20% h-14 bg-blue-400 text-white rounded-lg text-2xl") }}
                </form>
            {% endif %}
        </div>
    </div>
</center>
{% endblock main %}
